/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: 'Noto Sans JP', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

button {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(29, 53, 110, 0.14);
  transition: transform ease-in 0.2s;
}

button:hover {
  transform: scale(1.1);
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.title {
  text-align: center;
}
.forecast {
  text-align: center;
  display: inline-flexbox;
  align-self: center;
  left: -353px;
  width: 1082px;
  height: 813px;
  background: url('./images/background.png') 50% 50% no-repeat;
  opacity: 0.8;
}
.resultDiv {
  text-align: center;
  display: inline-block;
  align-self: center;
  width: 340px;
  height: 230px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 0.8;
  margin-bottom: 50px;
}
.label {
  top: 269px;
  left: 179px;
  width: 123px;
  height: 54px;
  text-align: center;
  font: normal normal 800 22px/27px;
  letter-spacing: 0px;
  color: #404491;
  opacity: 1;
}
.loader {
  position: absolute;
}
.temp {
  text-align: left;
  font: italic normal 900 64px/78px;
  letter-spacing: 0px;
  color: #050a72;
  opacity: 1;
}
.other {
  position: sticky;
  top: 300px;
  left: 375px;
  height: 80px;
  width: auto;
  background: #a2ebc9 0% 0% no-repeat;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 18px;
  opacity: 1;
}
.windSpeed {
  margin: px;
  left: 130px;
  width: 63px;
  height: 22px;
  text-align: right;
  font: normal normal bold 18px/38px Montserrat;
  color: #030303;
  opacity: 1;
}
.humidity {
  margin: 25px;
  top: 503px;
  left: 279px;
  width: 39px;
  height: 22px;
  text-align: left;
  font: normal normal bold 18px/38px Montserrat;
  color: #030303;
  opacity: 1;
}
.imgLabelDiv {
  margin-top: 10px;
  display: inline-flex;
}
.input {
  top: 300px;
  left: 20px;
  width: 300px;
  height: 50px;
  background: #93e5fa 0% 0% no-repeat padding-box;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
